body {
	text-align: center;
	background-image: url('../images/grunge_wall_@2X.png');
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
}

.container .text-muted {
    margin: 20px 0;
}

section {
	
}

#chatWindow {
    background-color: white;
    border: solid grey 1px;
}

.choice {
    margin: 5px;
}

.box {
    min-height: 80px;
    background-color: white;
    border: solid grey 1px;
}

 img {
    max-width: 250px;
    max-height: 250px:;
}

#player2, #player1 {
    min-height: 180px;
}